@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "back-home";
  src: url(../public/assets/backhome/Backhome\ Demo.ttf);
}

body {
  background-image: url(../public/assets/Vector\ 2.png);
  background-position: top right;
  background-repeat: no-repeat;
}
.create-section {
  background-image: url(../public/assets/Vector\ 1.png);
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
}
.features-section {
  background-image: url(../public/assets/Vector\ 4.png);
  background-position: 0px 200px;
  background-repeat: no-repeat;
}
